@import url(../base.css);
@import url(../navbar.css);
@import url(../footer.css);
@import url(../buttons.css);
@import url(../card.css);
@import url(../pagination.css);


/* Hero Section */
.hero-wrapper {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 55vh;
    background: url('../../images/GEOMETRIC-BLUE.png') no-repeat;
    background-size: cover;
    background-position: center 45%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px; /* Adjust when the navbar is implemented */
    overflow: hidden;
}

.hero-header-text {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.5em;
    margin: 0;
}

.hero-subtext {
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    color: var(--accent-color);
}

/* Listing Section */
label.results {
    color: var(--ui-border);
    font-size: 14px;
    border-bottom: 1px solid var(--ui-border);
    padding-bottom: 5px;
    width: 75%;
}

.search-container {
    display: flex;
    border-bottom: 1px solid var(--ui-border);
    padding-bottom: 5px;
    width: 45%;
    align-items: center;
}

.search-container:focus-within {
    border-color: var(--primary-color);
}

.search-container input[type="search"] {
    border: none;
    color: black;
    width: 95%;
    outline: none;
    font-size: 14px;
}

.search-container input[type="search"]:focus {
    color: var(--primary-color)
}

.grid-container.listings {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 25px 1fr;
}

.filter-form {
    width: 75%;
}

.filter-section h3 {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.filter-section label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 6px;
    gap: 10px;
    color: black;
    cursor: pointer;
}

#spinner-overlay.overlay
#no-result-overlay.overlay {
    justify-content: flex-start;
}

/* TODO - Improve Responsiveness */
@media (max-width: 768px) {
    .grid-container.listings {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .search-container {
        width: 100%;
        
    }

    .search-container input[type=search] {
        width: 100%;
    }

    .filter-form {
        width: 100%;
    }
}