/* Checkbox Buttons */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 4px;
    border: black solid 1px;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.2s;
}

.custom-checkbox:hover .checkmark {
    background-color: var(--ui-border);
}

.custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark {
    background-color: var(--primary-color);
}


/* Radio Buttons */
.custom-radio {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 6px;
    color: black;
    cursor: pointer;
    gap: 8px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio .radiomark {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: black solid 1px;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-radio:hover .radiomark {
    background-color: var(--ui-border);
}

.custom-radio input:checked + .radiomark::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--primary-color);
}