.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../images/GEOMETRIC-BLUE.png') no-repeat;
    background-size: center;
    background-position: center 60%;
    padding: 50px 175px 30px;
    gap: 25%;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    background-size: cover;
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.footer-logo  {
    width: 250px;
    height: 65px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.footer-contact li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--primary-white);
}

.footer-contact .icon {
    font-style: normal;
}

.footer-grid.grid-container.bottom {
    font-size: 12px;
    color: var(--ui-border);
    text-align: center;
    align-items: center;
}

.footer-grid.grid-container.bottom p {
    text-align: start;
    align-items: start;
}

.footer-grid.grid-container.bottom a {
    color: var(--ui-border);
}

.footer-column {
    align-items: center;
    position: relative;
    height: 100%;
}

.footer-column.footer-brand {
    align-items: start;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-grid a {
    display: block;
    color: var(--primary-white);
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.2s;
}

.footer-column a:hover {
    color: #00baff;
}

@media (max-width: 900px) {
    .footer {
        height: 100%;
    }
    .footer-top {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-top {
        grid-template-columns: 1fr;
    }
}